<div id="form">
  <div class='summary'>
    <br/>
    <div class ='new_meeting'>
       <form method="post" action="/new">
         <button type="submit">Bleed More...</button>
       </form>
    </div>

    <div><h1>Dollars bled till date</h1>
      <div class='odometer'>
        <span class="prefix">$</span>
        <span> <%=@dollars %> </span>
      </div>

      <div class="monthly">
        <h2 class="left"> Last Month</h2>
        <div class='odometer comparision left' >

          <span class="changes prefix">$</span>
          <span> <%=@dollars_last_month %> </span>
        </div>
        <h2 class='right'> This Month</h2>
        <div class='odometer comparision right' >

          <span class="changes prefix">$</span>
          <span> <%=@dollars_this_month %> </span>
        </div>
      </div>
    </div>
  </div>
</div>
