<div id="form">
  <form class="setup" accept-charset="utf-8">
  	<dl>
  	  <dt><label for="attendees">Number of Attendees:</label></dt>
  	  <dd>
    		<input id="attendees"
    		   class="watermark"
    		   tabindex="1"
    		   type="text" name="attendees"
    		   value="" title="count" />
  	  </dd>
	  
  	  <dt>
  	    <label for="hourly_rate">Average Hourly Rate:</label>
  	    <p class="small">
  	      Be sure to include overhead costs like facilities and benefits.
  	    </p>
	    </dt>
  	  <dd>
  	    <select name="units" tabindex="3">
  	      <option selected="selected">$</option>
  	      <option>&pound;</option>
  	      <option>&euro;</option>
  	      <option>&yen;</option>
  	    </select>
    		<input id="hourly_rate"
    		   class="watermark" type="text"
    		   tabindex="2"
    		   name="hourly_rate" value="" title="guess (200?)" />
  	  </dd>
	  
  	  <dt><label for="start_time">The Meeting started at:</label></dt>
  	  <dd>
    		<input id="start_time" type="text" name="start_time" value="" tabindex="4"/>
  	  </dd>
  	</dl>
	
  	<p><input type="submit" value="Start &rarr;"></p>
  </form>
  
  <p>Written by Toby Tripp, Lydia Tripp, and <a href="http://www.royhere.com">Roy Kolak</a>.</p>
  <p>Fork this project on <a href="http://github.com/tobytripp/meeting-ticker/">GitHub</a>.</p>
  
  <p class="small">If this works in Internet Explorer, it is purely by accident.</p>
</div>
  
<div id="display">
	<h1>This Meeting Has Cost</h1>
	<div class="odometer"></div>
	<p id="started_at" class="small"></p>
	<form class="stop"><input type="submit" value="stop the bleeding"></form>
</div>
